
<!-- add header.ejs-  -->
<%- include('./partials/header') %>

    <button id="btn">  click me !!  </button>
    
    <h1>hi this is my index.ejs template</h1>
    <p>
        hello welcome to index.ejs
    </p>

<%- include('./partials/footer') %>
<!-- add footer.ejs -->