
<!-- add header.ejs-  -->
<%- include('./partials/header') %>

    <h1> your random number is <%= randomNum %> </h1>
    <!-- <h1> your random number is <%= 1 + 2 + 4 * 6 %> </h1> -->
    
<%- include('./partials/footer') %>
<!-- add footer.ejs -->