
<!-- add header.ejs-  -->
<%- include('./partials/header') %>

    <h1>these are your todos</h1>

    <% for(let i of todoos){ %>
        <h3>your todo is: <%= i %> </h3>
    <% } %>
    
<%- include('./partials/footer') %>
<!-- add footer.ejs -->